body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #FF7043;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF5722;
}

.hashtag-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hashtag {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--color);
    animation: flutuar 5s infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
